@media (min-width: 37.5rem) {
  .card {
    display: flex;
    width: 60rem;
  }
  .card .card_image,
  .card .card_content {
    flex: 0 0 50%;
    height: auto;
  }

  .card_image picture,
  .card_image img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .card_image img {
    object-fit: cover;
  }
}
