* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
}
@font-face {
  font-family: "Fraunces";
  src: url(../assets/fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
  font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    font-weight: 500 700;
}

body{
    background-color: var(--Cream);
}
