* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:root {
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
}
@font-face {
  font-family: "Fraunces";
  src: url(../assets/fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-weight: 500 700;
}

body {
  background-color: var(--Cream);
}
main {
  width: 100%;

  display: flex;
  justify-content: center;
  margin: 8rem 0;
  font-size: 1.6rem;
}
.card {
  width: 30rem;
  background-color: var(--White);
  border-radius: .8rem;
  overflow: hidden;
}
.card .card_image {
  width: 100%;
  height: auto;
  overflow: hidden;
  /* display: none;   */
}
.card picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card_content {
  padding: 3.2rem;
}
.card_content-desc {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}
.card_content .prod-name {
  font-family: "Montserrat", sans-serif;
  color: var(--Grey);
  font-size: 1.2rem;
}
.card_content .prod-title {
  font-family: "Fraunces", sans-serif;
  color: var(--Black);
  font-size: 3.2rem;
}
.card_content .prod-desc {
  font-family: "Montserrat", sans-serif;
  color: var(--Grey);
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.card_content-price {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}
.card_content-price .current-price {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: var(--Green-500);
  font-size: 3.2rem;
}
.card_content-price .old-price {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  text-decoration: line-through;
  color: var(--Grey);
}
.addToCartBtn {
  width: 100%;
  background-color: var(--Green-500);
  color: var(--White);
  border: none;
  padding: 1.6rem 0;
  border-radius: 0.8rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.addToCartBtn i {
    padding-right: 1.2rem;
}